input[type=text] {
    border-radius: 999px;
    border: none;
    outline: none;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    padding: 0.3rem;
    margin: 0;
    padding-left: 1rem;
    width: 40vw;
    height: 2.5rem;
    box-sizing: border-box;
}

button:hover {
    border-color: rgb(201, 41, 41) !important;
}

button {
    margin-left: 0.5rem;
}